
[Config]
;Directory=List
Directory=D:\.Media\.Links\.Shortcut
;Directory=Test
New=RShift
NewModifier=>+
ModifierEnd=%
HotkeyEnd=$
ActivateIndex=3

[ModifierMap]

[KeyMap]
Win\=#
LAlt\=<!
RAlt\=>!
Ctrl\=^
Shift\=<+
Goto\=#<!
#\=#
^\=^

LAlt&=<!
RAlt&=>!
+=<+
`!=>!
~!=<!

Numpad\=Numpad
F\=F
%\=%

[Control]
ChangeWindow=>!Tab
ChangeProcess=>!<!Tab
;ShowAll=#^+h

Reload=#^Esc
Suspend=#+^Space
AdminRun=#+^Esc
ExitApp=#+^End
;ListHotkeys=#k
;ListVars=#F12

[Setting]
WinDelay=0