
[Config]
;按键映射相关配置文件的目录
Directory=.Config
;Directory=.Test
;长映射模式的检测延时
LongMappingDetectionDelay=-1

;路径字符替换
[PathReplace]
\@=@
@= ahk_exe 

;文件名字符替换
[NameReplace]

;单个修饰键的映射
[Modifier]
Capslock={Blind}{Esc}
Numlock={Numlock}
Appskey={Appskey}
XButton1={XButton1}
XButton2={XButton2}

[Control]
Modifier=Capslock
Reload=Esc
AdminRun=+Esc
Suspend=^+Space
ExitApp=+^End
;ListHotkeys=F12
KeyHistory=F12
;ListVars=F12

[Setting]
KeyDelay=100,100
SendMode=Input